*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

.box{
    border: black 2px solid;
    width: 50px;
    height: 50px;
    display: inline-flex;
    
}
.box_active{

    background-color: red;


}



body{

    width: 932px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#btnInput{
    width: 350px;
    height: auto;
    /* align-self: center; */


}


#main-container{
    width: 832px;
    height: 832px;
   
    /* align-self: center; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;

}